# 2-3.1 Intro Python
# The Power of List Iteration
- **for in: `for` loop using `in`**
- for range: **`for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**   
- strings to lists, **`.split()`**, and list to strings, **`.join()`**   


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- **Iterate through Lists** using **`for`** with **`in`**
- Use **`for range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Iterate through Lists using 
# ` for in`
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.vtt","srclang":"en","kind":"subtitles","label":"english"}])
```python
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)
```

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [5]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

In [6]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)

total sales: 124

change the iterator variable name from "sale" to "dollars" or to any valid name

In [7]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

### Iterate through Lists using `in`

In [8]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list

birds=['Afxgxdf','Bfdxfdx','cfdfdx']

for bird in birds:
    print(bird)

Afxgxdf
Bfdxfdx
cfdfdx

In [9]:
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value
nums=[1,2,5,8,9,6,3]

for num in nums:
    print(num*2)

2
4
10
16
18
12
6

In [10]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names
long_string=""

for bird in birds:
    long_string += bird + " "
        
print(long_string)

Afxgxdf Bfdxfdx cfdfdx

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Sort and Filter

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use comparison operators while iterating lists

### &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [11]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [12]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name.upper())
    else:
        longer_names.append(bone_name.upper())

print(shorter_names)
print(longer_names)

['CALCANEUS', 'TALUS', 'CUBOID', 'NAVICULAR']
['LATERAL CUNEIFORM', 'INTERMEDIATE CUNEIFORM', 'MEDIAL CUNEIFORM']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## sort and filter

In [13]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# [ ] Print only cities starting with "m"
mcities=""

for city in cities:
    if city[0].lower()=="m":
        mcities+=city+" "
        
print(mcities)

Munich Mexico City

In [14]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city

acities=[]
nonacities=[]

for city in cities:
    if "a" in city.lower():
        acities.append(city)
    else:
        nonacities.append(city)
        
print("A Cities:",acities)
print("Non-A Cities:",nonacities)

A Cities: ['Shanghai', 'Dubai', 'São Paulo', 'Hyderabad']
Non-A Cities: ['New York', 'Munich', 'Tokyo', 'Mexico City']

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  
## More iteration of lists
## - Counting
## - Searching

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use string methods while iterating lists

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [15]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad","NnNnN"]
search_letter = "n"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "n" found in the list is 8

<font size="4" color="#00A0B2"  face="verdana"> <B>search function</B></font>
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.vtt","srclang":"en","kind":"subtitles","label":"english"}])

In [16]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visitied_cites list is", city_search(search,visited_cities))

enter a city visited: tokyo
tokyo in default cities is True
tokyo in visitied_cites list is True

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>  
## Program: Paint Stock  
check a list for a paint color request and print status of color "found"/"not found"
- create list, paint_colors, with 5+ colors
- get user input of string:color_request
- iterate through each color in paint_colors to check for a match with color_request

In [41]:
# [ ] complete paint stock

paint_colors=["red","blue","yellow","green","white"]

color_request=input("input color: ")

if color_request in paint_colors:
    print("match")
else:
    print("no match")

input color: red
match

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>  
## Program: Foot Bones Quiz
**Create a function** that will iterate through foot_bones looking for a match of a string argument
- Call the function 2 times with the name of a footbone 
- print immediate feedback for each answer (correct - incorrect)
- print the total # of foot_bones identified


The program will use the foot_bones list:
```python 
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]
```
Bonus: remove correct response item from list if correct so user cannot answer same item twice

In [2]:
# [ ] Complete Foot Bones Quiz
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
              "intermediate cuneiform", "medial cuneiform"]
#print(foot_bones)
def find_bones(bone_name):
    if bone_name.lower() in foot_bones:
        print("Correct")
        foot_bones.remove(bone_name.lower())
    else:
        print("Incorrect")

find_bones("Talus")
print(foot_bones)
print("total foot bones = ",len(foot_bones))

Correct
['calcaneus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
total foot bones =  6

In [3]:
# [ ] bonus version
find_bones("Talus")
print(foot_bones)
print("total foot bones = ",len(foot_bones))

Incorrect
['calcaneus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
total foot bones =  6

In [41]:
list_num=(range(15,30,3))
print(list_num)

sub_total=0

for item in list_num:
    sub_total+=item
    print("sub total: ",item, "=",sub_total)

range(15, 30, 3)
sub total:  15 = 15
sub total:  18 = 33
sub total:  21 = 54
sub total:  24 = 78
sub total:  27 = 105

In [7]:
range(20)

range(0, 20)

In [39]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
              "intermediate cuneiform", "medial cuneiform"]
#length=int(len(foot_bones)/2)
#print(length)

for item in range(int(len(foot_bones)/2),int(len(foot_bones)),2):
    print(foot_bones[item])

navicular
intermediate cuneiform

In [1]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
              "intermediate cuneiform", "medial cuneiform"]
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

new_list=foot_bones+cities

print(new_list)

foot_bones.reverse()
print(foot_bones)

['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform', 'New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
['medial cuneiform', 'intermediate cuneiform', 'lateral cuneiform', 'navicular', 'cuboid', 'talus', 'calcaneus']

In [61]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
              "intermediate cuneiform", "medial cuneiform"]#foot_bones.sort()

#print(foot_bones)

foot_bones.sort()
print(foot_bones)

['calcaneus', 'cuboid', 'intermediate cuneiform', 'lateral cuneiform', 'medial cuneiform', 'navicular', 'talus']

In [19]:
tip="i am going to work"
tip_words=tip.split()

print(tip,"\n",tip_words,"\n")

for item in tip_words:
    print(item)
print("\n")

for item in tip:
    print(item)
print("\n")
    
tip_words.reverse()
for item in tip_words:
    print(item)

tip_reverse=tip[::-1]
print(tip_reverse)

i am going to work
 ['i', 'am', 'going', 'to', 'work']

i
am
going
to
work


i

a
m

g
o
i
n
g

t
o

w
o
r
k


work
to
going
am
i
krow ot gniog ma i

In [30]:
tip="i am going to work"
tip_words=tip.split("o")

for item in tip_words:
    print(item)
    
len(tip_words)

i am g
ing t
 w
rk

4

In [44]:
tip="""up to where the a was, and that that a is now deleted.
And it's a little easier to see that the deletion happens when we're
using a character that is visible."""

#print(tip)

tip_words=tip.split("a")

#for item in tip_words:
 #   print(item)
    
print(tip_words)
    
len(tip_words)

['up to where the ', ' w', 's, ', 'nd th', 't th', 't ', " is now deleted.\nAnd it's ", ' little e', 'sier to see th', 't the deletion h', "ppens when we're\nusing ", ' ch', 'r', 'cter th', 't is visible.']

15

In [53]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
              "intermediate cuneiform", "medial cuneiform"]

print("...".join(foot_bones))

calcaneus...talus...cuboid...navicular...lateral cuneiform...intermediate cuneiform...medial cuneiform

In [54]:
mylist=[1,2,3]

mylist.